.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  padding: 10px 20px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
}
.field {
  border: none; /* Убираем стандартную границу */
  border-bottom: 2px solid black; /* Создаем черную полоску снизу */
  width: 60px;
  padding: 3px;
  outline: none;
  background-color: inherit;
  margin: 50px 0;
}

.element {
  height: 10%;
  width: 80%;
  background-color: aliceblue;
  color: grey;
  margin: 20px 0;
  border-radius: 10px;
  font-size: 14px;
}

.input {
  display: inline-block;
  border: none; /* Убираем стандартную границу */
  border-bottom: 2px solid black; /* Создаем черную полоску снизу */
  width: 60px;
  padding: 3px;
  outline: none;
  background-color: inherit;
  margin: 50px 0;
}

.input-container {
  display: flex;
  flex-direction: row;
}
