.head {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 10%;
  background-color: black;
  height: 10%;
  color: white;
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.button {
  padding: 10px 20px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
}
.field {
  border: none; /* Убираем стандартную границу */
  border-bottom: 2px solid black; /* Создаем черную полоску снизу */
  width: 60px;
  padding: 3px;
  outline: none;
  background-color: inherit;
  margin: 20px;
}

span {
  margin-left: 20px;
}
