.form {
  display: flex;
  height: 10%;
  width: 100%;
  background-color: black;
  position: fixed;
  top: 0;
  justify-content: space-around;
  align-items: center;
}

.field {
  border: 2px solid white; /* Создаем черную полоску снизу */
  background-color: inherit;
  color: white;
  height: 55%;
  width: 60%;
  font-size: 18px;
  outline: none;
  padding: 5px;
}

.wraper {
}
